<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head>
    <title>Main page</title>
    <meta charset="UTF-8">
</head>
<body>
<table id="nav-menu" width="100%">
        <tr>
            <td align="center">
            <table>
                <tr>
                <td>Menu-></td>
                <td><a th:href="@{/}">Home</a></td>
                <td><a th:href="@{/products}">Products</a></td>
                <td><a th:href="@{/login}">Login</a></td>
                <td><a th:href="@{/users}">Users</a></td>
                </tr>
            </table>
            </td>
            <td align="right">
                <div sec:authorize="isAuthenticated()">
                    <div>
                    Hello, <span sec:authentication="principal.username">Bill</span>!
                    </div>
                    <div>
                        <a th:href="@{/logout}">Logout</a>
                    </div>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <div>
                        Hello, unknown! Please <a th:href="@{/login}">login</a>
                    </div>
                </div>
            </td>
        </tr>
</table>
</body>
</html>