<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head>
    <title>Add product</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div>
    <table border="1">
        <tr>
            <td>Title</td>
            <td>Price</td>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.username}">Product</td>
            <td th:text="${product.email}">12.0</td>
        </tr>
     </table>
<br>
<a th:href="@{users/new}">Add new product</a>
</div>
</body>
</html>